@model ListOperationsTestApp.Models.DetailModel

<div class="form-inline">
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })

    @{
        var checkboxAttributes = Model.Allowed ?
            (object)new { @class = "checkbox form-control", @checked = "checked" } :
            (object)new { @class = "checkbox form-control" };
    }
    @Html.CheckBox("detail.Allowed", checkboxAttributes)
</div>
